<nav th:fragment="menu" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Serwis dla pasjonatów kina</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/movies">Wszystkie filmy</a></li>
            <li><a href="/yourRatings">Twoje oceny</a></li>
            <li><a href="/addRecommendations">Rekomendacje</a></li>
        </ul>

    </div>
</nav>
